$primary-color: #71354d;
$secondary-color: #ececce;

$primary-fs: 14px;
$title-fs: 18px;
$subtitle-fs: 13px;


$contact-card-even: $primary-color;
$contact-card-odd: #774659;
$contact-font-color: #bdbdbd;
